#details {
	margin: 0 auto;
	padding-top: 20px;
	width: 70%;

	.back {
		float: right;
		font-size: 12px;
		padding: 5px;
		width: 90px;
	}

	img {
		width: 300px;
		float: left;
		margin: 0 20px;
		border: 1px solid black;
		padding: 15px;
	}

	h1 {
		font-size: 27px;
		margin-bottom: 5px;
	}

	h2 {
		font-size: 22px;
	}

	form {
		padding: 20px;

		select {
			margin: 5px 0 15px;
		}

		p {
			margin-bottom: 15px;
		}

		.addCart {
			background: white;
			display: block;
	    font-size: 16px;
	    padding: 10px 20px;
	    width: auto;
		}
	}

	select {
		border: 1px solid black;
	}
}
