.shop-container {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.shop-container-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop-item {
    margin-top:    20px;
    margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #000;
	width: 200px;
	height: 300px;

  .shop-item-img {
      margin-bottom: 10px;
	  width: 100%;
	  
  }
	 .add2cart{
		  color: $main-color;
		 border: 2px solid $accent-color;
		 margin-left: 4em;
		 padding: .5em .5em;
		 background: white;
		 

	  }
  .shop-item-title {
      text-align: center;
  }
  .shop-item-price {
      margin-top: 10px;
      text-align: center;
      font-weight: 300;
  }
  .shop-item-add-item {
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
  }
}
