/* CSS Document */
body{
	font-family: $font-stack;
}

#container{
    width: 75%;
    margin: auto;
}


@include breakpoint(laptop){
div.hero{
    background: url(../img/heroImage.jpg) 0 0 no-repeat;
    padding-top: 35%;
    height: 12em;
    background-size: cover;
    //width: 100%;
    //height: 30em;
    //overflow: hidden;

	
	img{
		width: 100%;
		
	}
	}
	input{

		position: absolute;
		border: 1px solid $main-color;
		background: transparent;
		padding: .3em 1.4em;
		border-radius: 10px;
		top: 25%;
		right: 10px;
		z-index: 1;
	}


	input:hover{
		color: #eee;
		background-color: $main-color;
	}
#container{
	width: 75%;
	margin: auto;
}

}// end laptop breakpoint

@include breakpoint(tablet){
	.hero{
	input{		
		right: 75px;
		top: 500px;
	}
	}

.wrapper{
	width: 75%;
	margin: auto;
}

	

}//end of tablet breakpoint



// keep floating items clear
.keepOpen{
	clear: both;
}