
.logo{

	height: 114px;
	width: 15%;
	float: left;
	display: block;

	
	img{
		
		padding: .7em;
		width: 100%;
	}
	
}

.fa-shopping-cart{
		text-align: center;
	}
.center{
	width: 35%;
	float: right;
	height: 114.4px;
	}


header{
	height: 100px;
	
	span{
		float: right;
		padding: 2em 1em;
		
	}
}
//side naviagation menu

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
a {
    padding: 1em 8px 1em 8px;
    text-decoration: none;
    font-size:  80%;
    font-size:  80%;
    color: #818181;
    display: block;
    transition: 0.3s;
	color: $main-color;
}

	
	.closebtn:hover{
			border: none;
		}
a:hover {
   border-bottom: 1px solid $main-color;
}		
	a.active{
		border-bottom: 1px solid $main-color;

	}
	 .closebtn {
    position: absolute;
    top: 0;
    right: 18%;
    font-size: 36px;
    margin-left: 50px;
	border-bottom: none; 		
	
	
}
	
.sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}// end of side nav


@include breakpoint(tablet) {
	header{
		width: 80%;
		margin: auto
	}
	.logo{
		img{
		width:100%;
		}
	}

}

