
$font-stack: 'Montserrat', sans-serif;
$heavy-font: 700;
$normal-font: 400;
$padding: 2%;

// colors

$main-color: #000;
$secondary-color: #999;


@mixin breakpoint($point) {
       @if $point == tablet {
        @media (min-width: 600px)  { @content ; }
    }
    @else if $point == laptop {
        @media(min-width: 960px)  { @content ; }
    }

}

